body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 4rem;
  line-height: 1.5;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}

.container-fluid {
  padding: 7% 15%;
}
/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: light;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0%;
}

/* Top Section */

#title {
  background-color: #ff4c68;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.col-lg-6 {
  position: relative;
}

.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section  */

#features {
  background-color: white;
  position: relative;
}

.features-text {
  padding: 5%;
}

.icon-feature {
  color: #ef8172;
  font-size: 75px;
  margin-bottom: 1rem;
}

.icon-feature:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonial Section */

#testimonials {
  background-color: #ff4c68;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
/* Press Section */

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 2.5;
}
/* CTA Section */

#cta {
  background-color: #ff4c68;
  color: white;
}

/* Footer Section */

#footer {
  background-color: white;
}

.footer-icon {
  padding: 20px 10px;
}

/* Media Row */

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(1deg);
  }
}
